.all_CV {
    margin: auto;
    width: 60vw;
    flex: auto;
    flex-direction: column;
}
.bio_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.photo {
}
img {
    width: 150px;
    border-radius: 35px;
}
.fio {
    padding: 3px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: oblique;
}
.gender, .reloc, .education, .drive  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.contacts {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact, a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans';
    color: #0f0bef;
    padding: 2px;
}
.work_exp, .current, .n-1, .n-2, .n-3, .languages, .hobbies {
    flex-direction: column;
    padding: 5px;
}
.dates, .lang_type {
    color: blueviolet;
    font-size: 19px;
    text-shadow: 0px 0px 1px #8a2bd9;
}
.company {
    font-size: 25px;
    font-family: cursive;
}
.job_name, .text {
    font-size: 17px;
    font-family: calibri;

}
.job_description {
    margin-left: 10px;
}
li {
    list-style-type: square;
    font-kerning: initial;
    font: message-box;
}
.core_skills, .hobbies_text {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill, .hobby {
    line-break: block;
    font-family: sans-serif;
    font-size: 14px;
    font-family: bold;
}
.lang {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.lang_text, .skill_text, .hobby_text, exp_text {
    font-size: 16px
    color: darkgreen;
    padding-top: 10px;
    text-alight: center;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
