body {
    margin: auto;
    background: #c398ec;
    width: 50vw;
    margin-top: 0px;
}  
h1 {
    font-style: italic;
    font-size: 24px;
    color: red;
    text-align: right;
    margin-top: 0px;
}
.short-desc {
  background: cyan;
  font-style: bold;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}
.about {
  background-color:black;
  display: flex;
  flex-direction: column;
  color: azure;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
  width: 100vw;
  margin: 2%;
}