body {
  background: #fffffc;
  width: 60vw;
}  
h1 {
  font-style: italic;
  font-size: 24px;
  color: red;
  position: flex;
  margin-left, margin-right: auto;
}
.short-desc {
  background: cyan;
  shadow: 0 0 1 1;
  font-style: bold;
  font-size: 16px;
  color: white;
}
