body {
    background: rgb(212, 255, 196);
    width: 60vw;
    height: 100vh;
    margin: auto;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    font-size: 16px;
    align-content: center;
}
.header {
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    background-color: cornsilk;
}
.page {
    display: flex;
    flex-direction: column;
}
.block-finished, .block-ongoing {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 3px 0;
}
.p-finished {
    color: blue;
    display: block;
    padding-left: 10px;
}
.p-ongoing {
    color: blueviolet;
    display: block;
    padding-left: 10px;
}
.prj_selector {
    padding: 5px 0px 5px 0px;
    margin: 15vh 0 9vh 0;
    box-shadow: inset 0px 0px 6px 3px #d4ffc4;
    border: none;
    background-color: brown;
    color: whitesmoke;
}