@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

* {
    max-width: 1152px;
    margin: auto;
}
header {
    display: grid;
}
.header_list {
    display: flex;
    flex-direction: row;
    justify-content: end; 
    margin-right: 60px;

}
.header_list_element {
    list-style: none;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    padding-left: 16px;
    padding-right: 16px;
}
.about_me {
    width: 856px;
    margin: 142px 142px 0 142px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_hello {
    max-width: 497px;
}
.pr_photo {
    display: flex;
    align-items: center;
}
.hello_hello {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    padding-bottom: 67px;
}
.hello_more {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color:#21243D;
    padding-bottom: 38px;
}
.hello_button {
    background: #FF6464;
    border-radius: 2px;
    width: 208px;
    height: 47px;
    color:#fff;
    font-family: Heebo;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
border: none;
}
.about_me {
    width: 856px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
